*.pyc
**/.history/
**/.neptune/
**/log/
*.txt
# *.o
*.egg
# *.npy
*.mat
*.off
*.ply
*.pdf
*.gif
*.html
*.zip
tune_*/*
**/output/*
output/*
**/boost_1_73_0/*
kernels/dispositions/k_015_center_3D.ply
.vscode
.idea
repreducability/noise_rotate_test/outputs/*
**/events.out.*
**/checkpoints/*
data/datasets/*
!data/datasets/surreal
data/datasets/surreal/*
!data/datasets/surreal/datas_surreal_test.pth
!data/docs/*
